@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>



    Heleneborgsgatan 5B<br />
    117 31 Stockholm<br />
    <abbr title="Phone">P:</abbr>
    000.000.0000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sebastien.dubos@gmail.com">sebastien.dubos@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sebastien.dubos@gmail.com">Marketing@example.com</a>

</address>
