<div class="custom-container">
<h2>Contact.</h2>

<h3>Southern Blocks</h3>
<address>
    Heleneborgsgatan 5B<br />
    117 31 Stockholm<br />
    <abbr title="Phone">P:</abbr>
    +46 07 36 52 77 82
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sebastien.dubos@gmail.com">sebastien.dubos@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sebastien.dubos@gmail.com">Marketing@example.com</a>

</address>

<div class="row">
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="~/images/defaultUser.png" alt="..." class="img-thumbnail">
      <div class="caption">
        <h3>Marco</h3>
        <p>CEO</p>
        <p><a href="mailto:sebastien.dubos@gmail.com" class="btn btn-success btn-sm" role="button">Contact</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="~/images/defaultUser.png" alt="..." class="img-thumbnail">
      <div class="caption">
        <h3>Miguel</h3>
        <p>Developer</p>
        <p><a href="mailto:sebastien.dubos@gmail.com" class="btn btn-success btn-sm" role="button">Contact</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="~/images/defaultUser.png" alt="..." class="img-thumbnail">
      <div class="caption">
        <h3>Sebastien</h3>
        <p>Developer</p>
        <p><a href="mailto:sebastien.dubos@gmail.com" class="btn btn-success btn-sm" role="button">Contact</a></p>
      </div>
    </div>
    
  </div>
   <div class="col-md-2">
    <div class="thumbnail">
      <img src="~/images/defaultUser.png" alt="..." class="img-thumbnail">
      <div class="caption">
        <h3>Nuno</h3>
        <p>Developer</p>
        <p><a href="mailto:sebastien.dubos@gmail.com" class="btn btn-success btn-sm" role="button">Contact</a></p>
      </div>
    </div>
    
  </div>
</div>
</div>
