@{
    ViewData["Title"] = "Home";
}


  <div style="height:800px;margin:-15px !important;margin-bottom:-20px !important; background-size:cover; position:relative; background-image:url('../../images/cryptoSplash.jpg')">

    <div class="container text-center">
        <h1 style="color:white;z-index:110; margin-top:160px;">Cryptowatcher dashboard</h1>
        <br><br><br><br>
        
        <button style="margin-right:5px;margin-left:5px" type="button" class="btn btn-labeled btn-warning btn-sm" onclick="location.href='@Url.Action("Index", "Home")'">
            <span class="btn-label btn-lg">OUR WORKS</span>
        </button>
        
        <button style="margin-right:5px;margin-left:5px" type="button" class="btn btn-labeled btn-danger btn-sm" onclick="location.href='@Url.Action("Contact", "Home")'">
            <span class="btn-label btn-lg">CONTACT</span>
        </button>

    </div>
</div>
