@{
    ViewData["Title"] = "Home";
}


  <div style="height:800px;margin:-15px !important;margin-bottom:-20px !important; background-size:cover; position:relative; background-image:url('images/cryptoSplash.jpg')">

    <div class="container text-center">
        <h1 style="color:white;z-index:110; margin-top:160px;">Southern Blocks</h1>
        <h3 style="color:white;z-index:110;">Cryptowatcher dashboard</h3>
        
        <br><br><br><br>
        
        <button style="margin-right:3px;margin-left:3px" type="button" class="btn btn-labeled btn-success btn-sm" onclick="location.href='@Url.Action("Index", "Dashboard")'">
            <span class="btn-label btn-lg"><i class="fa fa-bar-chart" aria-hidden="true"></i> DASHBOARD</span>
        </button>
        
        <button style="margin-right:3px;margin-left:3px" type="button" class="btn btn-labeled btn-danger btn-sm" onclick="location.href='@Url.Action("Contact", "Home")'">
            <span class="btn-label btn-lg"><i class="fa fa-envelope" aria-hidden="true"></i> CONTACT</span>
        </button>

    </div>
</div>
