@{
    ViewData["Title"] = "Test";
}
<h3>Test highchart</h3>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<div ng-app="MyApp" ng-controller="testHighchartController">

    @*Loader*@
    <div ng-show="loaderVisibility" class="overlay"></div>
    <div ng-show="loaderVisibility" id="loaderModernize"></div>

    <div class="row" style="padding-top:7px; padding-right:0px;padding-left:0px; padding-bottom:7px; background-color:#72bedd !important">
        <select ng-model="chartType" ng-change="changeChartType(chartType);" style="margin-left:20px">
            <option value="area">area</option>
            <option value="line">line</option>
            <option value="candlestick">candlestick</option>
        </select>
        <input type="checkbox" ng-change="showIndicator()" ng-model="toto" />
    </div>

    <chart title="{{chartTitle}}" data="chartData" indicators="chartIndicators" loading="chartLoading" style="width:100%;height:700px"></chart>

    @*<div id="chart-advanced"></div>*@

    @*<div class="col-md-12" style="padding:5px">
        <highchart config="chartConfig" style="width:100%;height:500px" ng-cloak></highchart>
    </div>*@
    
</div>

@section Scripts {
    <script src="~/App/app.js" asp-append-version="true"></script>
    <script src="~/App/cryptoApiService.js" asp-append-version="true"></script>
    <script src="~/App/ViewModel/Home/testHighchartViewModel.js" asp-append-version="true"></script>
    <script src="~/App/chartDirective.js" asp-append-version="true"></script>
    <link href="~/css/loader.css" rel="stylesheet" />

    <script language="javascript">
     
    </script>


}