<div class="modal-header">
    <div class="row" style="height:30px">
        <div style="position:fixed;left:5px">
            <button ng-disabled="previousButtonDisabled" class="btn btn-default btn" ng-click="previousActivity()"><i style="color:#00A1E2" tooltip-placement="right" uib-tooltip="Previous" class="glyphicon glyphicon-backward"></i> </button>
        </div>

        <div style="position:fixed;left:50px;margin-top:10px">
            <h4 style="display: inline">{{currencyName}}</h4>
        </div>

        <div style="position:fixed;right:5px">
            <button ng-disabled="nextButtonDisabled" class="btn btn-default btn" ng-click="nextActivity()" style="margin-left:5px"><i style="color:#00A1E2" tooltip-placement="left" uib-tooltip="Next" class="glyphicon glyphicon-forward"></i> </button>
        </div>
    </div>
</div>

<div class="modal-body" style="padding-top:0px;background-color: #f5f5f5">
    <!--Loader-->
    <div ng-show="loaderVisibility" class="overlay"></div>
    <div ng-show="loaderVisibility" id="spinner2"></div>

    <!--<select class="mySelect form-control input-sm" ng-model="selectedStrategy" ng-options="p as p.Text for p in strategyList" />-->
    <uib-tabset active="0" ng-cloak>
        <uib-tab index="0" ng-click="tabActivitySelected()">
            <uib-tab-heading>
                Chart
            </uib-tab-heading>

            <div class="row" style="padding-top:7px; padding-right:0px;padding-left:0px; padding-bottom:7px; background-color:#72bedd !important">
                <select ng-model="chartType" ng-change="changeChartType(chartType);" style="margin-left:20px">
                    <option value="area">area</option>
                    <option value="line">line</option>
                    <option value="candlestick">candlestick</option>
                </select>
                <input type="checkbox" ng-change="showIndicator();" ng-model="checkBoxParent.showRsi" />Rsi
                <input type="checkbox" ng-change="showIndicator();" ng-model="checkBoxParent.showAtr" />Atr
                <input type="checkbox" ng-change="showIndicator();" ng-model="checkBoxParent.showSma" />Sma
                <input type="checkbox" ng-change="showIndicator();" ng-model="checkBoxParent.showEma" />Ema
            </div>
            <div class="row">
                <!--<highchart config="chartConfig1" style="width:100%;height:500px" ng-cloak></highchart>-->
                <chart title="{{chartTitle}}" data="chartData" indicators="chartIndicators" loading="chartLoading" style="width:100%;height:700px"></chart>
            </div>
        </uib-tab>

        <uib-tab index="1" ng-click="tabExpenseSelected()" disable="isAdd">
            <uib-tab-heading>
                Orders
            </uib-tab-heading>

            <!--<div ng-if="gridOptionsUI.data !=null" ui-grid="gridOptionsUI" style="width:100%;height:250px"></div>-->

            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2">
                            Level
                        </th>
                        <th class="col-md-2">
                            Ask quantity
                        </th>
                        <th class="col-md-3">
                            Ask price
                        </th>
                        <th class="col-md-3">
                            Bid price
                        </th>
                        <th class="col-md-2">
                            Bid quantity
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="order in orderList" >
                        <td>
                            {{$index}}
                        </td>
                        <td>
                            {{order.bidQuantity}}
                        </td>
                        <td>
                            {{order.bidPrice}}
                        </td>
                        <td>
                            {{order.askPrice}}
                        </td>
                        <td>
                            {{order.askQuantity}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </uib-tab>

    </uib-tabset>
</div>

<div style="clear:both; margin-bottom:20px"></div>

<div class="modal-footer">
    <button type="button" class="btn btn-labeled btn-default btn-sm" ng-click="close()" style="color:dodgerblue;"><i class="glyphicon glyphicon-remove-circle"></i> Close</button>
</div>

<script lang="javascript">
    $(".overlay").show();
    var target = document.getElementById('spinner2')
    var spinner = new Spinner(opts).spin(target);
</script>