@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="MyApp" ng-controller="homeController" class="custom-container">

    <h3>Poloniex dashboard</h3>

    @*Loader*@
    <div ng-show="loaderVisibility" class="overlay"></div>
    <div ng-show="loaderVisibility" id="spinner"></div>

    <div class="row" style="margin-right:10px">
        <div class="col-md-1">
            <button type="button" class="btn btn-labeled btn-success btn-sm" ng-click="refreshData();">
                <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span> Refresh
            </button>
        </div>

        <div ng-show="newCurrencyList.length > 0" class="ng-hide alert alert-warning
             col-md-11" role="alert" style="margin-bottom:0px; padding-top:5px !important;padding-bottom:5px !important" ng-cloak>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Info, new currency available! </strong>
            <span ng-repeat="item in newCurrencyList" ng-cloak>
                {{item.currencyName}};&nbsp;
            </span>
        </div>

    </div>
    <div class="mainDiv" style="display: none;">
        <br />
        <uib-tabset active="activeTab">
            <uib-tab index="0">
                <uib-tab-heading>
                    <img src="~/images/bitcoin.png" /> BTC
                </uib-tab-heading>
                <input type="text" ng-model="f.name" style="margin-top:7px" class="form-control input-sm" placeholder="Search token..." uib-typeahead="currency.name for currency in currencyListBTC| filter:{name:$viewValue} " typeahead-show-hint="true" typeahead-min-length="2" ng-keyup="$event.keyCode == 13 && filterTable();" />
                <table class="table table-striped table-bordered" style="margin-top:7px">
                    <thead>
                        <tr class="active">
                            <th></th>
                            <th ng-click="sortType ='name'; sortReverse = !sortReverse" style="cursor:pointer">
                                Name
                                <span ng-cloak ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='last'; sortReverse = !sortReverse" style="cursor:pointer">
                                Last
                                <span ng-cloak ng-show="sortType == 'last' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'last' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='lowestAsk'; sortReverse = !sortReverse" style="cursor:pointer">
                                LowestAsk
                                <span ng-cloak ng-show="sortType == 'lowestAsk' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'lowestAsk' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='highestBid'; sortReverse = !sortReverse" style="cursor:pointer">
                                HighestBid
                                <span ng-cloak ng-show="sortType == 'highestBid' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'highestBid' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='baseVolume'; sortReverse = !sortReverse" style="cursor:pointer">
                                BaseVolume
                                <span ng-cloak ng-show="sortType == 'baseVolume' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'baseVolume' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='quoteVolume'; sortReverse = !sortReverse" style="cursor:pointer">
                                QuoteVolume
                                <span ng-cloak ng-show="sortType == 'quoteVolume' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'quoteVolume' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='high24hr'; sortReverse = !sortReverse" style="cursor:pointer">
                                High24hr
                                <span ng-cloak ng-show="sortType == 'high24hr' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'high24hr' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='low24hr'; sortReverse = !sortReverse" style="cursor:pointer">
                                Low24hr
                                <span ng-cloak ng-show="sortType == 'low24hr' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'low24hr' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='percentChange'; sortReverse = !sortReverse" style="cursor:pointer">
                                Percent Change
                                <span ng-cloak ng-show="sortType == 'percentChange' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'percentChange' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='rsi'; sortReverse = !sortReverse" style="cursor:pointer">
                                Rsi
                                <span ng-cloak ng-show="sortType == 'rsi' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'rsi' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="currency in currencyListBTC| orderBy:sortType:sortReverse| filter : f" ng-cloak>
                            <td><div style="margin-left:5px"><span class="btn-label" style="color:dodgerblue;cursor:pointer" uib-tooltip="Chart" uib-tooltip-placement="left" tooltip-append-to-body="true" ng-click="addTab(currency.name)"><i class="glyphicon glyphicon-stats"></i></span></div></td>
                            <td><img src="~/images/bitcoin.png" /> {{currency.name}}</td>
                            <td>{{currency.last}}</td>
                            <td>{{currency.lowestAsk}}</td>
                            <td>{{currency.highestBid}}</td>
                            <td>{{currency.baseVolume}}</td>
                            <td>{{currency.quoteVolume}}</td>
                            <td>{{currency.high24hr}}</td>
                            <td>{{currency.low24hr}}</td>
                            <td style="color:{{get24hColor(currency.percentChange)}}">{{get24hChange(currency.percentChange)}} %</td>
                            <td ng-if="currency.rsi >0">{{currency.rsi}}</td>
                            <td ng-if="currency.rsi ==0">--</td>
                            <td ng-if="currency.rsi == null" style="padding:0px"><img src="~/images/loader.gif" width="30" style="margin-right:10px;margin-left:10px" /></td>
                        </tr>
                    </tbody>
                </table>

            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <img src="~/images/eth.png" /> ETH
                </uib-tab-heading>

                <table class="table table-striped table-bordered" style="margin-top:20px">
                    <thead>
                        <tr class="active">
                            <th></th>
                            <th ng-click="sortType ='name'; sortReverse = !sortReverse" style="cursor:pointer">
                                Name
                                <span ng-cloak ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='last'; sortReverse = !sortReverse" style="cursor:pointer">
                                Last
                                <span ng-cloak ng-show="sortType == 'last' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'last' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='lowestAsk'; sortReverse = !sortReverse" style="cursor:pointer">
                                LowestAsk
                                <span ng-cloak ng-show="sortType == 'lowestAsk' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'lowestAsk' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='highestBid'; sortReverse = !sortReverse" style="cursor:pointer">
                                HighestBid
                                <span ng-cloak ng-show="sortType == 'highestBid' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'highestBid' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='baseVolume'; sortReverse = !sortReverse" style="cursor:pointer">
                                BaseVolume
                                <span ng-cloak ng-show="sortType == 'baseVolume' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'baseVolume' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='quoteVolume'; sortReverse = !sortReverse" style="cursor:pointer">
                                QuoteVolume
                                <span ng-cloak ng-show="sortType == 'quoteVolume' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'quoteVolume' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='high24hr'; sortReverse = !sortReverse" style="cursor:pointer">
                                High24hr
                                <span ng-cloak ng-show="sortType == 'high24hr' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'high24hr' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='low24hr'; sortReverse = !sortReverse" style="cursor:pointer">
                                Low24hr
                                <span ng-cloak ng-show="sortType == 'low24hr' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'low24hr' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='percentChange'; sortReverse = !sortReverse" style="cursor:pointer">
                                Percent Change
                                <span ng-cloak ng-show="sortType == 'percentChange' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'percentChange' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='rsi'; sortReverse = !sortReverse" style="cursor:pointer">
                                Rsi
                                <span ng-cloak ng-show="sortType == 'rsi' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'rsi' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="currency in currencyListETH| orderBy:sortType:sortReverse" ng-cloak>
                            <td><div style="margin-left:5px"><span class="btn-label" style="color:dodgerblue;cursor:pointer" uib-tooltip="Chart" uib-tooltip-placement="left" tooltip-append-to-body="true" ng-click="addTab(currency.name)"><i class="glyphicon glyphicon-stats"></i></span></div></td>
                            <td><img src="~/images/bitcoin.png" /> {{currency.name}}</td>
                            <td>{{currency.last}}</td>
                            <td>{{currency.lowestAsk}}</td>
                            <td>{{currency.highestBid}}</td>
                            <td>{{currency.baseVolume}}</td>
                            <td>{{currency.quoteVolume}}</td>
                            <td>{{currency.high24hr}}</td>
                            <td>{{currency.low24hr}}</td>
                            <td style="color:{{get24hColor(currency.percentChange)}}">{{get24hChange(currency.percentChange)}} %</td>
                            <td ng-if="currency.rsi >0">{{currency.rsi}}</td>
                            <td ng-if="currency.rsi ==0">--</td>
                            <td ng-if="currency.rsi == null" style="padding:0px"><img src="~/images/loader.gif" width="30" style="margin-right:10px;margin-left:10px" /></td>
                        </tr>
                    </tbody>
                </table>

            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <img src="~/images/monero.png" /> MONERO
                </uib-tab-heading>

                <table class="table table-striped table-bordered" style="margin-top:20px">
                    <thead>
                        <tr class="active">
                            <th></th>
                            <th ng-click="sortType ='name'; sortReverse = !sortReverse" style="cursor:pointer">
                                Name
                                <span ng-cloak ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='last'; sortReverse = !sortReverse" style="cursor:pointer">
                                Last
                                <span ng-cloak ng-show="sortType == 'last' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'last' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='lowestAsk'; sortReverse = !sortReverse" style="cursor:pointer">
                                LowestAsk
                                <span ng-cloak ng-show="sortType == 'lowestAsk' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'lowestAsk' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='highestBid'; sortReverse = !sortReverse" style="cursor:pointer">
                                HighestBid
                                <span ng-cloak ng-show="sortType == 'highestBid' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'highestBid' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='baseVolume'; sortReverse = !sortReverse" style="cursor:pointer">
                                BaseVolume
                                <span ng-cloak ng-show="sortType == 'baseVolume' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'baseVolume' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='quoteVolume'; sortReverse = !sortReverse" style="cursor:pointer">
                                QuoteVolume
                                <span ng-cloak ng-show="sortType == 'quoteVolume' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'quoteVolume' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='high24hr'; sortReverse = !sortReverse" style="cursor:pointer">
                                High24hr
                                <span ng-cloak ng-show="sortType == 'high24hr' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'high24hr' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='low24hr'; sortReverse = !sortReverse" style="cursor:pointer">
                                Low24hr
                                <span ng-cloak ng-show="sortType == 'low24hr' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'low24hr' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='percentChange'; sortReverse = !sortReverse" style="cursor:pointer">
                                Percent Change
                                <span ng-cloak ng-show="sortType == 'percentChange' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'percentChange' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='rsi'; sortReverse = !sortReverse" style="cursor:pointer">
                                Rsi
                                <span ng-cloak ng-show="sortType == 'rsi' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'rsi' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="currency in currencyListXMR| orderBy:sortType:sortReverse" ng-cloak>
                            <td><div style="margin-left:5px"><span class="btn-label" style="color:dodgerblue;cursor:pointer" uib-tooltip="Chart" uib-tooltip-placement="left" tooltip-append-to-body="true" ng-click="addTab(currency.name)"><i class="glyphicon glyphicon-stats"></i></span></div></td>
                            <td><img src="~/images/bitcoin.png" /> {{currency.name}}</td>
                            <td>{{currency.last}}</td>
                            <td>{{currency.lowestAsk}}</td>
                            <td>{{currency.highestBid}}</td>
                            <td>{{currency.baseVolume}}</td>
                            <td>{{currency.quoteVolume}}</td>
                            <td>{{currency.high24hr}}</td>
                            <td>{{currency.low24hr}}</td>
                            <td style="color:{{get24hColor(currency.percentChange)}}">{{get24hChange(currency.percentChange)}} %</td>
                            <td ng-if="currency.rsi >0">{{currency.rsi}}</td>
                            <td ng-if="currency.rsi ==0">--</td>
                            <td ng-if="currency.rsi == null" style="padding:0px"><img src="~/images/loader.gif" width="30" style="margin-right:10px;margin-left:10px" /></td>
                        </tr>
                    </tbody>
                </table>

            </uib-tab>
            <uib-tab index="3">
                <uib-tab-heading>
                    <img src="~/images/usdt.png" /> USDT
                </uib-tab-heading>

                <table class="table table-striped table-bordered" style="margin-top:20px">
                    <thead>
                        <tr class="active">
                            <th></th>
                            <th ng-click="sortType ='name'; sortReverse = !sortReverse" style="cursor:pointer">
                                Name
                                <span ng-cloak ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='last'; sortReverse = !sortReverse" style="cursor:pointer">
                                Last
                                <span ng-cloak ng-show="sortType == 'last' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'last' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='lowestAsk'; sortReverse = !sortReverse" style="cursor:pointer">
                                LowestAsk
                                <span ng-cloak ng-show="sortType == 'lowestAsk' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'lowestAsk' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='highestBid'; sortReverse = !sortReverse" style="cursor:pointer">
                                HighestBid
                                <span ng-cloak ng-show="sortType == 'highestBid' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'highestBid' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='baseVolume'; sortReverse = !sortReverse" style="cursor:pointer">
                                BaseVolume
                                <span ng-cloak ng-show="sortType == 'baseVolume' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'baseVolume' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='quoteVolume'; sortReverse = !sortReverse" style="cursor:pointer">
                                QuoteVolume
                                <span ng-cloak ng-show="sortType == 'quoteVolume' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'quoteVolume' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='high24hr'; sortReverse = !sortReverse" style="cursor:pointer">
                                High24hr
                                <span ng-cloak ng-show="sortType == 'high24hr' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'high24hr' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='low24hr'; sortReverse = !sortReverse" style="cursor:pointer">
                                Low24hr
                                <span ng-cloak ng-show="sortType == 'low24hr' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'low24hr' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='percentChange'; sortReverse = !sortReverse" style="cursor:pointer">
                                Percent Change
                                <span ng-cloak ng-show="sortType == 'percentChange' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'percentChange' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                            <th ng-click="sortType ='rsi'; sortReverse = !sortReverse" style="cursor:pointer">
                                Rsi
                                <span ng-cloak ng-show="sortType == 'rsi' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-cloak ng-show="sortType == 'rsi' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="currency in currencyListUSD| orderBy:sortType:sortReverse" ng-cloak>
                            <td><div style="margin-left:5px"><span class="btn-label" style="color:dodgerblue;cursor:pointer" uib-tooltip="Chart" uib-tooltip-placement="left" tooltip-append-to-body="true" ng-click="addTab(currency.name)"><i class="glyphicon glyphicon-stats"></i></span></div></td>
                            <td><img src="~/images/bitcoin.png" /> {{currency.name}}</td>
                            <td>{{currency.last}}</td>
                            <td>{{currency.lowestAsk}}</td>
                            <td>{{currency.highestBid}}</td>
                            <td>{{currency.baseVolume}}</td>
                            <td>{{currency.quoteVolume}}</td>
                            <td>{{currency.high24hr}}</td>
                            <td>{{currency.low24hr}}</td>
                            <td style="color:{{get24hColor(currency.percentChange)}}">{{get24hChange(currency.percentChange)}} %</td>
                            <td ng-if="currency.rsi >0">{{currency.rsi}}</td>
                            <td ng-if="currency.rsi ==0">--</td>
                            <td ng-if="currency.rsi == null" style="padding:0px"><img src="~/images/loader.gif" width="35" style="margin-right:14px;margin-left:14px" /></td>
                        </tr>
                    </tbody>
                </table>

            </uib-tab>

            <!-- DYNAMIC TABS-->
            <uib-tab ng-repeat="tab in currencyTabs" index="$index+4">
                <uib-tab-heading>
                    <span class="glyphicon glyphicon-stats" style="padding:0px;margin:0px">  {{tab.name}}&nbsp;</span>
                    <button type="button" uib-tooltip="Close tab" class="close" data-dismiss="alert" aria-label="Close" ng-click="removeTab($index);" style="color: dimgray">
                        <span aria-hidden="true" ng-class="{red: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">&times;</span>
                    </button>
                </uib-tab-heading>

                <currency-tab name="{{tab.name}}"></currency-tab>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

@section Scripts {
    <script src="~/App/app.js" asp-append-version="true"></script>
    <script src="~/App/cryptoApiService.js" asp-append-version="true"></script>
    <script src="~/App/chartDirective.js" asp-append-version="true"></script>
    <script src="~/App/home/currencyTab.js" asp-append-version="true"></script>
    <script src="~/App/home/Index.js" asp-append-version="true"></script>
    <link href="~/css/loader.css" rel="stylesheet" />
    <script language="javascript">
            $(".overlay").show();
            var target = document.getElementById('spinner')
            var spinner = new Spinner(opts).spin(target);

            $(document).ready(function () {
	//llll
                $(".mainDiv").show();
            });
    </script>
}
