<div>
    <div class="container-fluid">
        <div class="row" style="margin-top:5px">

        </div>


        <div class="row" style="margin-top:5px">

            <div class="col-md-5" style="padding-right: 10px;padding-left:10px">
                <div class="row">
                    <div class="col-md-5" style="padding-right: 10px;padding-left:10px">
                        <div class="panel panel-primary">
                            <div class="panel-heading" style="height:35px">

                                <div style="float:left"><h3 class="panel-title">Cotation</h3></div>
                                <div style="float:right;margin-top:-6px !important">
                                    <button type="button" ng-click="vm.getCurrencyCotation();" uib-tooltip="refresh data" class="btn btn-labeled btn-primary btn-xs">
                                        <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <table class="table table-condensed" style="margin-bottom:0px">
                                    <tbody>
                                        <tr>
                                            <td class="active col-md-6"><b>% change (24h)</b></td>
                                            <td ng-if="vm.currencyCotation.change24hr >0"><div style="color:green;background-color:{{vm.highlightChange}};width:50px"><h4>{{vm.currencyCotation.change24hr}}</h4></div></td>
                                            <td ng-if="vm.currencyCotation.change24hr <=0"><div style="color:red;background-color:{{vm.highlightChange}};width:50px"><h4 style="color:red">{{vm.currencyCotation.change24hr}}</h4></div></td>
                                        </tr>
                                        <tr>
                                            <td class="active col-md-6">Last</td>
                                            <td>{{vm.currencyCotation.last}}</td>
                                        </tr>
                                        <tr>
                                            <td class="active col-md-6">Base volume</td>
                                            <td>{{vm.currencyCotation.baseVolume| number}}</td>
                                        </tr>
                                        <tr>
                                            <td class="active col-md-6">Quote volume</td>
                                            <td>{{vm.currencyCotation.quoteVolume| number}}</td>
                                        </tr>
                                        <tr>
                                            <td class="active col-md-6">Higher 24 hours</td>
                                            <td>{{vm.currencyCotation.high24hr}}</td>
                                        </tr>
                                        <tr>
                                            <td class="active col-md-6">lower 24 hours</td>
                                            <td>{{vm.currencyCotation.low24hr}}</td>
                                        </tr>
                                        <tr>
                                            <td class="active col-md-6">RSI</td>
                                            <td>{{vm.currencyCotation.rsi}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7" style="padding-right: 10px;padding-left:10px">
                        <div class="panel panel-primary" style="overflow:hidden">
                            <div class="panel-heading" style="height:35px">

                                <div style="float:left"><h3 class="panel-title">Chart 24H</h3></div>
                                <div style="float:right;margin-top:-6px !important">
                                    <button type="button" ng-click="vm.loadDayChartData();" uib-tooltip="refresh data" class="btn btn-labeled btn-primary btn-xs">
                                        <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <div class="row" style="margin-top:5px;margin-right:0px">
                                    <select ng-model="vm.chartDayType" ng-change="vm.changeChartDayType(vm.chartDayType);" style="margin-left:20px">
                                        <option value="line">line</option>
                                        <option value="candlestick">candlestick</option>
                                    </select>
                                </div>
                                <chart title="" data="vm.chartDayData" enablerangeselector="false" enablenavigator="false" indicators="" yAxis="vm.yAxis" loading="vm.chartLoading" style="height:350px;margin-right:5px;margin-left:5px"></chart>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12" style="padding-right: 10px;padding-left:10px">
                        <div class="panel panel-primary" style="overflow:hidden">
                            <div class="panel-heading" style="height:35px">

                                <div style="float:left"><h3 class="panel-title">Orders</h3></div>
                                <div style="float:right;margin-top:-6px !important">
                                    <button type="button" ng-click="vm.getOrderData();" uib-tooltip="refresh data" class="btn btn-labeled btn-primary btn-xs">
                                        <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div class="progress" style="height:5px">
                                <div class="progress-bar progress-bar-success" role="progressbar" ng-style="vm.askPourcentStyle">
                                </div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" ng-style="vm.bidQuantityStyle">
                                </div>
                            </div>

                            <div ui-grid="vm.gridOptionsOrder" style="width:100%;height:350px;margin-top:1px"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Master chart -->
            <div class="col-md-7" style="padding-right: 10px;padding-left:10px">
                <div class="panel panel-primary" style="overflow:hidden">
                    <div class="panel-heading" style="height:35px">
                        <h3 class="panel-title">Trade history</h3>
                    </div>

                    <div class="row" style="margin-top:5px;margin-right:3px">
                        <select ng-model="vm.chartPeriod" ng-change="vm.changeChartPeriod(vm.chartPeriod);" style="margin-left:20px">
                            <option value=1>1 year</option>
                            <option value=2>2 years</option>
                            <option value=3>3 years</option>
                            <option value=4>4 years</option>
                            <option value=5>5 years</option>
                            <option value=6>6 years</option>
                            <option value=7>7 years</option>
                            <option value=8>8 years</option>
                            <option value=9>9 years</option>
                            <option value=10>10 years</option>
                            <option value=20>20 years</option>
                        </select>
                        <select ng-model="vm.chartType" ng-change="vm.changeChartType(vm.chartType);" style="margin-left:7px">
                            <option value="area">area</option>
                            <option value="line">line</option>
                            <option value="candlestick">candlestick</option>
                        </select>
                        <input type="checkbox" ng-change="vm.showIndicator();" ng-model="vm.checkBoxParent.showRsi" style="margin-left:20px" />Rsi
                        <select style="margin-left:3px" ng-model="vm.rsiPeriod" ng-change="vm.changeRsiPeriod(rsiPeriod);">
                            <option value=14>14</option>
                            <option value=30>30</option>
                            <option value=60>60</option>
                            <option value=90>90</option>
                        </select>
                        <input type="checkbox" ng-change="vm.showIndicator();" ng-model="vm.checkBoxParent.showAtr" style="margin-left:3px" />Atr
                        <input type="checkbox" ng-change="vm.showIndicator();" ng-model="vm.checkBoxParent.showSma" />Sma
                        <input type="checkbox" ng-change="vm.showIndicator();" ng-model="vm.checkBoxParent.showEma" />Ema
                        <input type="checkbox" ng-change="vm.showIndicator();" ng-model="vm.checkBoxParent.showMacd" />Macd
                    </div>
                    <chart title="" data="vm.chartData" enablenavigator="true" enablerangeselector="true" indicators="vm.chartIndicators" yAxis="vm.yAxis" loading="vm.chartLoading" style="height:700px;margin-right:5px;margin-left:5px"></chart>
                </div>
            </div>
        </div>
    </div>


</div>
